@font-face {
  font-family: NorseBold;
  src: url("Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  background-color: rgb(81, 27, 27);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(141, 81, 57);
}

a:hover {
  color: rgb(127, 73, 51);
}

a:active {
  color: rgb(109, 63, 44);
}

.bg-img img {
  height: 770px;
  width: 550px;
}

.odin {
  display: flex;
  position: absolute;
  z-index: 10;
  margin-top: 27vh;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.556);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 175.5px;
  padding-left: 184.5px;
}

.odin img {
  width: 75px;
  height: 100px;
}

.odin p {
  font-size: 76px;
  color: white;
  font-family: NorseBold;
  text-align: center;
  line-height: 100px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  font-size: 24px;
  font-weight: 900;
  font-family: NorseBold;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 15px;
}

.form {
  padding: 30px;
  padding-right: 435px;
  background-color: rgb(253, 234, 234);
  border-radius: 8px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

legend {
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: NorseBold;
}

label {
  font-family: NorseBold;
}

.section {
  display: flex;
  padding: 4px;
  padding-bottom: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

input {
  border-radius: 4px;
  border: 3px solid rgb(202, 190, 190);
  padding: 5px 20px 5px 0px;
}

input:valid {
  border-color: rgb(9, 78, 9);
}

input:invalid {
  border-color: rgb(133, 19, 19);
}

input:focus {
  border-color: rgb(13, 13, 133);
}

.footer {
  padding-bottom: 190px;
  padding-left: 20px;
  padding-top: 20px;
}

.btn button {
  font-family: NorseBold;
  font-size: 24px;
  font-weight: 900;
  padding: 7px 22px;
  background-color: rgb(56, 90, 91);
  border: 1px solid rgb(56, 90, 91);
  border-radius: 8px;
  color: rgb(253, 234, 234);
  margin: 10px;
}

.btn button:hover {
  background-color: rgb(49, 80, 81);
}

.btn button:active {
  background-color: rgb(43, 71, 72);
}

.footer span {
  margin-left: 15px;
  font-size: 26px;
  font-weight: 900;
  font-family: NorseBold;
}
